<!doctype html>
<html>
<head>
<title>Transfer Pathway Tool</title>
<h1>
    Transfer Pathway Tool
</h1>
</head>
<body>
<h1>
    Enter what you are looking for
</h1>
<form>
  <input type="checkbox" id="" name="" value="Bike">
  <label for="vehicle1"> I have a bike</label><br>
  <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
  <label for="vehicle2"> I have a car</label><br>
  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
  <label for="vehicle3"> I have a boat</label>
</form>
</body>
</html>