<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transfer Pathways Home </title>
</head>
<header>
    <nav>
        <ul>
            <li><a href="admissionReqs/index1-sections.html">Articulation Courses</a></li>
            <li> <a href="./pages/requirements.html">Admission Requirements</a></li>
            <li> <a href="../graduationReqs/gradReqs.html">Graduation Requirements</a></li>
            <li><a href="./pages/schools.html">Schools</a></li>
            <li><a href="./pages/comparisonTool.html">Comparison Tool</a></li>
            <li><a href="./pages/stats.html">Stats</a></li>
            <li><a href="./pages/playground.html">Playground 1</a></li>
        </ul>
    </nav>
</header>
<body>
    <style>
        h1, h2{
            text-align: center;
        }
    </style>
    <h1>TOOL NAME</h1>
    <h2>Transfer Pathways to Computer Science in California</h2>

</body>
</html>